/venv/
/__pycache__/
/bin/
/include/
/lib/
/lib64/
pyenv.cfg
../../yaourtiere/.env
/notebooks/
/config/sticky_message/*

# Exclude all roles but admin
!/config/roles/
/config/roles/*
!/config/roles/admin.yml